name: Test on different platforms

on: [push, pull_request]

jobs:
    build:
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                python-version:
                    - '3.13'
                os:
                    - ubuntu-latest
                    # - windows-latest
                    - macos-latest

        steps:
            - uses: actions/checkout@v4

            - name: Install uv and set the python version
              uses: astral-sh/setup-uv@v6
              with:
                  python-version: ${{ matrix.python-version }}
                  enable-cache: true

            - name: Set up Python
              run: uv python install

            - name: Install the Project
              run: uv sync --locked --dev

            - name: Run Tests
              run: uv run pytest --verbose --color=yes
