name: Test with coverage

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test_coverage:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v6
        with:
          python-version: 3.13
          enable-cache: true

      - name: Set up Python
        run: uv python install

      - name: Install the Project
        run: uv sync --locked --dev

      - name: Run Tests
        run: |
          uv run pytest tests --verbose --color=yes --cov=canvodpy --cov-report term-missing

      - name: Coverage comment
        id: coverage_comment
        uses: py-cov-action/python-coverage-comment-action@v3
        with:
          GITHUB_TOKEN: ${{ github.token }}
          VERBOSE: false
